In [1]:
import pandas as pd

In [2]:
# Watermark is not required for this code, but is included for information. 
import watermark
%load_ext watermark
%watermark -a "ELEANOR LUTZ" -d -v -iv -m

watermark 1.8.1
pandas    0.23.4
ELEANOR LUTZ 2019-07-11

CPython 3.7.1
IPython 7.2.0

compiler   : MSC v.1900 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : Intel64 Family 6 Model 63 Stepping 2, GenuineIntel
CPU cores  : 12
interpreter: 64bit

## Data Source
The data used in this Jupyter Notebook is from the 1989 [Catalogue of Constellation Boundary Data](http://cdsarc.u-strasbg.fr/viz-bin/Cat?VI/49#sRM2.2) by A.C. Davenhall and S.K. Leggett, and was used with permission from the Royal Observatory Edinburgh.

In [3]:
colwidths = [11, 11, 5, 100]
colnames = ['right_ascension_hours', 'declination_degrees', 'const_abbreviation', 'type_point']

df = pd.read_fwf('./data/VI_49/bound_20.dat', widths=colwidths, names=colnames)
display(df.head())

const, ras, decs = [], [], []

for name, group in df.groupby('const_abbreviation'):
    const.append(name)
    ras.append(group['right_ascension_hours'].tolist())
    decs.append(group['declination_degrees'].tolist())
    
df_ra_dec = pd.DataFrame(data={'name':const, 'ra':ras, 'dec':decs})
display(df_ra_dec.head())

savename = './data/processed/constellations.csv'
df_ra_dec.to_csv('./data/processed/constellations.csv', index=False)

   right_ascension_hours  declination_degrees const_abbreviation type_point
0              23.535713            35.189774                AND          I
1              23.468492            35.188026                AND          I
2              23.401264            35.186070                AND          I
3              23.334036            35.183899                AND          I
4              23.266823            35.181519                AND          I

,name,ra,dec
0,AND,"[23.5357132, 23.4684925, 23.4012642, 23.334035...","[35.1897736, 35.1880264, 35.1860695, 35.183898..."
1,ANT,"[9.7783384, 9.711378100000001, 9.6444119999999...","[-24.5768433, -24.569940600000002, -24.5628623..."
2,APS,"[13.858232500000002, 13.8653402, 13.8736773000...","[-76.62335209999999, -77.6230698, -78.6227417,..."
3,AQL,"[18.692411399999997, 18.6916103, 18.6908112, 1...","[-2.8842952, -1.8843668999999998, -0.884438800..."
4,AQR,"[20.645000500000002, 20.6443596, 20.6437206, 2...","[-7.563462299999999, -6.563508000000001, -5.56..."