In [1]:
import pandas as pd
import numpy as np

In [2]:
# Watermark is not required for this code, but is included for information. 
import watermark
%load_ext watermark
%watermark -a "ELEANOR LUTZ" -d -v -iv -m

watermark 1.8.1
numpy     1.15.4
pandas    0.23.4
ELEANOR LUTZ 2019-07-11

CPython 3.7.1
IPython 7.2.0

compiler   : MSC v.1900 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : Intel64 Family 6 Model 63 Stepping 2, GenuineIntel
CPU cores  : 12
interpreter: 64bit

## Data Source
The data in this `CSV` file was manually entered by hand using W.H. Finlay's [Concise Catalog of Deep-sky Objects](https://www.springer.com/us/book/9781852338510) as a reference text. All objects in the book with a magnitude less than 6.5 was included in the `CSV` file.

In [3]:
df = pd.read_csv('./data/messier_ngc.csv')

df['ra_h'] = df['ra'].str.split("h ").str.get(0).astype(int)
df['ra_min'] = df['ra'].str.split("h ").str.get(1).str.replace("m", "").astype(float)
df['ra_original'] = df['ra'].copy()
df['ra'] = df['ra_h'] + df['ra_min']/60

df['dec_sign'] = df['dec'].str.get(0)
df['dec_degrees'] = np.abs(df['dec'].str.split("d").str.get(0).astype(int))
df['dec_seconds'] = df['dec'].str.split("d ").str.get(1).str.replace("'", "").astype(float)
df['dec_original'] = df['dec'].copy()
df['dec'] = df['dec_degrees'] + df['dec_seconds']/60
df['dec'] = df['dec_sign'] + df['dec'].astype(str)
df['dec'] = df['dec'].astype(float)
df.drop(['ra_h', 'ra_min', 'dec_sign', 'dec_degrees', 'dec_seconds'], axis=1, inplace=True)

print(df['type'].unique())
unicodes = {'open cluster': u"\u16b8", 'globular cluster': u"\u2724",
            'emission nebula': u"\u16e5", "star cloud": u"\u2388", "spiral galaxy": u"\u214f", 
            "planetary nebula": u"\u16bb", 'emission nebula, open cluster': u"\u25c8"}
df['code'] = df['type'].replace(unicodes)

df['name_2'] = df['proper_name'].replace(np.nan, df['name'])

df.to_csv('./data/processed/messier_ngc_processed.csv', index=False)
df.head()

['open cluster' 'globular cluster' 'emission nebula, open cluster'
 'emission nebula' 'star cloud' 'spiral galaxy']

,name,type,ra,dec,magnitude,proper_name,ra_original,dec_original,code,name_2
0,M11,open cluster,18.851667,-6.266667,5.8,Wild Duck Cluster,18h 51.1m,-6d 16',ᚸ,Wild Duck Cluster
1,M13,globular cluster,16.695000,36.466667,5.8,Hercules Cluster,16h 41.7m,+36d 28',✤,Hercules Cluster
2,M15,globular cluster,21.500000,12.166667,6.2,NaN,21h 30m,+12d 10',✤,M15
3,M16,open cluster,18.313333,-13.783333,6.0,Eagle Nebula,18h 18.8m,-13d 47',ᚸ,Eagle Nebula
4,M17,"emission nebula, open cluster",18.346667,-16.183333,6.0,Swan Nebula,18h 20.8m,-16d 11',◈,Swan Nebula